<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <queries>
        <package android:name="com.android.bluetooth" />
        <package android:name="com.android.settings" />
        <package android:name="com.huawei.smartaudio" />
        <package android:name="com.milink.service" />
        <package android:name="com.xiaomi.bluetooth" />
    </queries>

    <application
        android:name=".HuaweiPodsApp"
        android:description="@string/app_description"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:enableOnBackInvokedCallback="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.HuaweiPods">

        <meta-data
            android:name="moe.chenxy.huaweipods.MODULE_BUILD_ID"
            android:value="${moduleBuildId}" />

        <activity-alias
            android:name=".LauncherActivity"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".MainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mnc|colorMode|density|fontScale|fontWeightAdjustment|keyboard|layoutDirection|locale|mcc|navigation|smallestScreenSize|touchscreen|uiMode"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>
        <activity android:name=".PopupActivity"
            android:theme="@style/Theme.HuaweiPods.Popup"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter>
                <action android:name="chen.action.huaweipods.show_pods_ui" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".LowLatencyStateReceiver"
            android:exported="true"
            android:permission="android.permission.BLUETOOTH_PRIVILEGED">
            <intent-filter>
                <action android:name="chen.action.huaweipods.huawei_low_latency_changed" />
            </intent-filter>
        </receiver>
        <provider
            android:name=".config.PodImageProvider"
            android:authorities="${applicationId}.podimages"
            android:exported="true"
            android:grantUriPermissions="false" />
        <service
            android:name=".smartaudio.SmartAudioImageDownloadJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>
